<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.travelsys1901.dao.HotelMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.travelsys1901.entity.Hotel">
    <id column="hid" jdbcType="INTEGER" property="hid" />
    <result column="hincity" jdbcType="VARCHAR" property="hincity" />
    <result column="hindate" jdbcType="DATE" property="hindate" />
    <result column="houtdate" jdbcType="DATE" property="houtdate" />
    <result column="hsite" jdbcType="VARCHAR" property="hsite" />
    <result column="t_hotelcol" jdbcType="VARCHAR" property="tHotelcol" />
    <result column="tinfo" jdbcType="VARCHAR" property="tinfo" />
  </resultMap>
  <sql id="Base_Column_List">
    hid, hincity, hindate, houtdate, hsite, t_hotelcol, tinfo
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_hotel
    where hid = #{hid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_hotel
    where hid = #{hid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.travelsys1901.entity.Hotel">
    insert into t_hotel (hid, hincity, hindate, 
      houtdate, hsite, t_hotelcol, 
      tinfo)
    values (#{hid,jdbcType=INTEGER}, #{hincity,jdbcType=VARCHAR}, #{hindate,jdbcType=DATE}, 
      #{houtdate,jdbcType=DATE}, #{hsite,jdbcType=VARCHAR}, #{tHotelcol,jdbcType=VARCHAR}, 
      #{tinfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.travelsys1901.entity.Hotel">
    insert into t_hotel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hid != null">
        hid,
      </if>
      <if test="hincity != null">
        hincity,
      </if>
      <if test="hindate != null">
        hindate,
      </if>
      <if test="houtdate != null">
        houtdate,
      </if>
      <if test="hsite != null">
        hsite,
      </if>
      <if test="tHotelcol != null">
        t_hotelcol,
      </if>
      <if test="tinfo != null">
        tinfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hid != null">
        #{hid,jdbcType=INTEGER},
      </if>
      <if test="hincity != null">
        #{hincity,jdbcType=VARCHAR},
      </if>
      <if test="hindate != null">
        #{hindate,jdbcType=DATE},
      </if>
      <if test="houtdate != null">
        #{houtdate,jdbcType=DATE},
      </if>
      <if test="hsite != null">
        #{hsite,jdbcType=VARCHAR},
      </if>
      <if test="tHotelcol != null">
        #{tHotelcol,jdbcType=VARCHAR},
      </if>
      <if test="tinfo != null">
        #{tinfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.travelsys1901.entity.Hotel">
    update t_hotel
    <set>
      <if test="hincity != null">
        hincity = #{hincity,jdbcType=VARCHAR},
      </if>
      <if test="hindate != null">
        hindate = #{hindate,jdbcType=DATE},
      </if>
      <if test="houtdate != null">
        houtdate = #{houtdate,jdbcType=DATE},
      </if>
      <if test="hsite != null">
        hsite = #{hsite,jdbcType=VARCHAR},
      </if>
      <if test="tHotelcol != null">
        t_hotelcol = #{tHotelcol,jdbcType=VARCHAR},
      </if>
      <if test="tinfo != null">
        tinfo = #{tinfo,jdbcType=VARCHAR},
      </if>
    </set>
    where hid = #{hid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.travelsys1901.entity.Hotel">
    update t_hotel
    set hincity = #{hincity,jdbcType=VARCHAR},
      hindate = #{hindate,jdbcType=DATE},
      houtdate = #{houtdate,jdbcType=DATE},
      hsite = #{hsite,jdbcType=VARCHAR},
      t_hotelcol = #{tHotelcol,jdbcType=VARCHAR},
      tinfo = #{tinfo,jdbcType=VARCHAR}
    where hid = #{hid,jdbcType=INTEGER}
  </update>
</mapper>