<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.ViewMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.entity.View">
    <id column="vid" jdbcType="INTEGER" property="vid" />
    <result column="vprice" jdbcType="INTEGER" property="vprice" />
    <result column="vphoto" jdbcType="VARCHAR" property="vphoto" />
    <result column="vline" jdbcType="VARCHAR" property="vline" />
  </resultMap>
  <sql id="Base_Column_List">
    vid, vprice, vphoto, vline
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_view
    where vid = #{vid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_view
    where vid = #{vid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.entity.View">
    insert into t_view (vid, vprice, vphoto, 
      vline)
    values (#{vid,jdbcType=INTEGER}, #{vprice,jdbcType=INTEGER}, #{vphoto,jdbcType=VARCHAR}, 
      #{vline,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.entity.View">
    insert into t_view
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="vid != null">
        vid,
      </if>
      <if test="vprice != null">
        vprice,
      </if>
      <if test="vphoto != null">
        vphoto,
      </if>
      <if test="vline != null">
        vline,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="vid != null">
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="vprice != null">
        #{vprice,jdbcType=INTEGER},
      </if>
      <if test="vphoto != null">
        #{vphoto,jdbcType=VARCHAR},
      </if>
      <if test="vline != null">
        #{vline,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.entity.View">
    update t_view
    <set>
      <if test="vprice != null">
        vprice = #{vprice,jdbcType=INTEGER},
      </if>
      <if test="vphoto != null">
        vphoto = #{vphoto,jdbcType=VARCHAR},
      </if>
      <if test="vline != null">
        vline = #{vline,jdbcType=VARCHAR},
      </if>
    </set>
    where vid = #{vid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.entity.View">
    update t_view
    set vprice = #{vprice,jdbcType=INTEGER},
      vphoto = #{vphoto,jdbcType=VARCHAR},
      vline = #{vline,jdbcType=VARCHAR}
    where vid = #{vid,jdbcType=INTEGER}
  </update>
</mapper>