<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.travelsys1901.dao.VOrderMapper">

  <select id="list" resultType="com.qfedu.travelsys1901.vo.VOrder">
select  v.vline,v.vphoto,s.sdate,a.ayonum,a.achnum,a.asum ,aphone from
t_shopcar s
inner join t_view v
on s.svline = v.vline
inner join t_apply a
on a.aphone = s.sphone
  </select>
</mapper>